{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %} 
            {% endblock %}
        </title>
 
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
         
        <link rel="stylesheet" tyep='text/css' href="">
        <script src="https://kit.fontawesome.com/f19908a36f.js" crossorigin="anonymous"></script>
        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; 
        img-src 'self' https://*; 
        frame-src 'self';  
         
        script-src 'self' https://www.google.com/maps*; 
        "> -->
        <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; 
        img-src * data: 'unsafe-inline'; connect-src * 'unsafe-inline'; frame-src *;">
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>
  
    <body>
    
        <div class='top-banner'>
            <span class="navbar-toggle" id="js-navbar-toggle"> 
                <i class="fas fa-bars"></i>
            </span>
            <div class='leftbanner'>
                <!-- got logo on https://www.freelogodesign.org/, see easton08 for emails + DL + info -->
                <img src="../media/siteImages/banner12.png" alt="">
            </div>
            <div class='rightbanner'> 
                <p style='margin-bottom: 5px' id='address'><i class="fas fa-map-marker-alt fa-sm"></i> 123 New Franken Street </p>
                <p >New Franken, GA 55555</p>
                <p id='phonenumber'><i height='10px' class="fas fa-phone fa-xs"></i> 111-111-1111</p>
            </div>
            <ul class='main-nav' id='js-menu'>
                <li><a href="/" class='nav-links'>Home</a></li>
                <li><a href="/search-vehicles" class='nav-links'>Search Inventory</a></li>
                <li><a href="/dealership-hours" class='nav-links'>Location</a></li>
                <li><a href="/contact" class='nav-links'>Contact</a></li>
            </ul>
            <div class='mobile-phone'>
                <p><i height='15px' class="fas fa-phone fa-xs"></i> 920-111-1111</p>
            </div>
        </div>
            <nav id='navbar'>
                    <ul class='navleft'>
                        <li><a href="/">Home</a></li>
                        <li><a href="/search-vehicles">Search Inventory</a></li>
                        <li><a href="/dealership-hours">Location</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
            </nav>  
        <div class='pagebody'>
            {% block content %}
            {% endblock %}
        </div>  
 
        <footer class='footer'>
            <img src="../media/siteImages/banner13footer.png" alt="">
            <div id='footer-contact'>
                
                <p>123 New Franken Street, New Franken, GA 22222 <p id='diamond'>&#x2666</p> </p>
                <p><a href="{% url 'hours'%}" > Directions</a> <p id='diamond'>&#x2666</p> </p> 
                <p> 111-111-1111</p>
            </div>
            <div>
                <p>© 2020 New Franken Automotive</p>
            </div>

        </footer>


        <!-- maybe do below for just mobile? having a link to directions would be useful  -->


        <!-- <footer class='footer'>
            <div class='footer-logo'>
                <img src="../../media/banner13footer.png" alt="">
                 
            </div>
            <div class='footer-location'>
                <p><i class="fas fa-phone fa-xs"></i> 920-111-1111</p>
                <p><i class="fas fa-map-marker-alt fa-sm"></i> 123 New Franken Street</p>
                <p>New Franken, WI 54229</p>
            </div>
            
        </footer> -->
        <!-- {# Global javascript #} -->
        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
        <script type='text/javascript' scr='/home/kremer/Documents/slick-1.8.1/slick/click.js'></script>
        <!-- {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %} -->
    </body>
</html> 
