{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %} 
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
         
        <link rel="stylesheet" tyep='text/css' href="">
        <script src="https://kit.fontawesome.com/f19908a36f.js" crossorigin="anonymous"></script>
        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; 
        img-src 'self' https://*; 
        frame-src 'self';  
         
        script-src 'self' https://www.google.com/maps*; 
        "> -->
        <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; 
        img-src * data: 'unsafe-inline'; connect-src * 'unsafe-inline'; frame-src *;">
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>
  
    <body>
    
        <div class='top-banner'>
            <span class="navbar-toggle" id="js-navbar-toggle"> 
                <i class="fas fa-bars"></i>
            </span>
            <div class='leftbanner'>
                <!-- got logo on https://www.freelogodesign.org/, see easton08 for emails + DL + info -->
                <img src="../../media/banner12.png" alt="">
            </div>
            <div class='rightbanner'> 
                <p style='margin-bottom: 5px' id='address'><i class="fas fa-map-marker-alt fa-sm"></i> 123 New Franken Street</p>
                <p id='phonenumber'><i height='10px' class="fas fa-phone fa-xs"></i> 920-111-1111</p>
            </div>
            <ul class='main-nav' id='js-menu'>
                <li><a href="/" class='nav-links'>Home</a></li>
                <li><a href="/search-vehicles" class='nav-links'>Search Inventory</a></li>
                <li><a href="/dealership-hours" class='nav-links'>Location</a></li>
                <li><a href="/contact" class='nav-links'>Contact</a></li>
            </ul>
            <div class='mobile-phone'>
                <p><i height='15px' class="fas fa-phone fa-xs"></i> 920-111-1111</p>
            </div>
        </div>
            <nav id='navbar'>
                    <ul class='navleft'>
                        <li><a href="/">Home</a></li>
                        <li><a href="/search-vehicles">Search Inventory</a></li>
                        <li><a href="/dealership-hours">Location</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
            </nav>  
        <div class='pagebody'>
            {% block content %}
            {% endblock %}
        </div>  

        
        <footer class='footer'>
            <div class='footer-logo'>
                <img src="../../media/banner13footer.png" alt="">
                
            </div>
            <div class='footer-location'>
                <p id='phonenumber'><i height='10px' class="fas fa-phone fa-xs"></i> 920-111-1111</p>
                <p style='margin-bottom: 5px' id='address'><i class="fas fa-map-marker-alt fa-sm"></i> 123 New Franken Street</p>
                <p>New Franken, WI 54229</p>
            </div>
            <!-- <div class='footer-hours'>
                <div class='hours'>
                        
                    <table>
                        <tbody class='hours-tbody'>
                            <tr>
                                <th>Monday</th>
                                <th class='align-right'>10:00 AM - 6:00 PM</th>
                            </tr>
                            <tr>
                                <th>Tuesday</th>
                                <th class='align-right'>10:00 AM - 6:00 PM</th>
                            </tr>
                            <tr>
                                <th>Wednesday</th>
                                <th class='align-right'>10:00 AM - 6:00 PM</th>
                            </tr>
                            <tr>
                                <th>Thursday</th>
                                <th class='align-right'>10:00 AM - 6:00 PM</th>
                            </tr>
                            <tr>
                                <th>Friday</th>
                                <th class='align-right'>10:00 AM - 6:00 PM</th>
                            </tr>
                            <tr>
                                <th>Saturday</th>
                                <th class='align-right'>10:00 AM - 4:00 PM</th>
                            </tr>
                            <tr>
                                <th>Sunday</th>
                                <th class='align-right'>CLOSED</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class='footer-map'>
                <iframe class='mobilemap' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2844.2577823252313!2d-88.06657844946585!3d44.53035410318387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8802fa76eab7666b%3A0xc3d1722cc4ac5a6b!2s1659%20Christiana%20St%2C%20Green%20Bay%2C%20WI%2054303!5e0!3m2!1sen!2sus!4v1582054206480!5m2!1sen!2sus" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>  
             -->
        </footer>
        <!-- {# Global javascript #} -->
        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
        <script type='text/javascript' scr='/home/kremer/Documents/slick-1.8.1/slick/click.js'></script>
        <!-- {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %} -->
    </body>
</html> 
