{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static wagtailuserbar %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact</title> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/comparePage.css' %}">
       

    </head>
    <body> 
        <h2>Compare Vehicles</h2>
        <section>
            
        </section>
        <script type="text/javascript" src="{% static 'js/comparePage.js' %}"></script>
    </body>
    </html>
{% endblock %}  