{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static wagtailuserbar %}
{% block body_class %}template-homepage{% endblock %} 

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Location</title> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/dealership_hours.css' %}">

    </head>   
    <body>
    <h2 id='h2-header'>Location</h2>
    <h2 id='h2-header-mobile'>Location</h2> 
       <div class='direction'>   
                <div class='mobiledirectionsformdiv'>
                    <form id='mobledirectionform' action="http://maps.google.com/maps" method="get" target="_blank">
                        <label for="saddr">Enter your location</label>
                        <input id='userinput' type="text" name="saddr" />
                        <input type="hidden" name="daddr" value="" />
                        <input id='directions-submit' type="submit" value="Get directions" />
                    </form>
                </div> 
          
            <div id='map'>
                <iframe class='mobilemap' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105503.04955529366!2d-85.265633271554!3d34.27480957803229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x888aa4c0629e40fb%3A0x2850c5f9bcf31d2b!2sRome%2C%20GA!5e0!3m2!1sen!2sus!4v1586228741956!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                <iframe class='largemap' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105503.04955529366!2d-85.265633271554!3d34.27480957803229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x888aa4c0629e40fb%3A0x2850c5f9bcf31d2b!2sRome%2C%20GA!5e0!3m2!1sen!2sus!4v1586228741956!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                 
            </div>
            <div class='directioncards'>
                <div class='formcard'>
                    <form id='directionform' action="http://maps.google.com/maps" method="get" target="_blank">
                        <label for="saddr">Enter your location</label>
                        <input id='userinput' type="text" name="saddr" />
                        <input type="hidden" name="daddr" value="" />
                        <input type="submit" value="Get directions" />
                     </form>
                </div>
                <div class='contactcard'>
                    <p style='font-weight: bold; font-size:20px; margin-top:-15px;'>Contact</p>
                    <p>New Franken Automotive</p>
                    <p><i height='10px' class="fas fa-phone fa-xs"></i> 111-111-1111</p>
                    <p><i class="fas fa-map-marker-alt fa-sm"></i> 123 New Franken Street</p>
                </div>
                <div class='hourscard'>
                    <p style='font-weight: bold; font-size:20px; margin-top:-15px;'>Hours</p>
                    <table>
                        <tbody class='hours-tbody'>
                            <tr>
                                <th>Monday</th>
                                <th class='align-right'>10:00 AM - 6:00 PM</th>
                            </tr>
                            <tr> 
                                <th>Tuesday</th>
                                <th class='align-right'>10:00 AM - 6:00 PM</th>
                            </tr>
                            <tr>
                                <th>Wednesday</th>
                                <th class='align-right'>10:00 AM - 6:00 PM</th>
                            </tr>
                            <tr>
                                <th>Thursday</th>
                                <th class='align-right'>10:00 AM - 6:00 PM</th>
                            </tr>
                            <tr> 
                                <th>Friday</th>
                                <th class='align-right'>10:00 AM - 6:00 PM</th>
                            </tr>
                            <tr>
                                <th>Saturday</th>
                                <th class='align-right'>10:00 AM - 4:00 PM</th>
                            </tr>
                            <tr>
                                <th>Sunday</th>
                                <th class='align-right'>CLOSED</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
       </div>
        <script type="text/javascript" src="{% static 'js/dealership_hours.js' %}"></script>
        

    </body>
    </html>
{% endblock %}