{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static wagtailuserbar %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
        <!-- <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/> -->
        <link rel="stylesheet" type="text/css" href="{% static 'slick/slick/slick.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'slick/slick/slick-theme.css' %}"/>
        <title>Welcome to New Franken Automotive!</title>
    </head>
    <body>   

        <div class='background1'>
            <div class="mybg"></div>
    
        </div>
        <div class='background2'>
            <div class="mybg2"></div>
        </div>

 
        <div class='dealerbanner'>
            <img  class='dealership-image' src="media/siteImages/storefront.jpg" alt="">
        </div>

        <div class='body'>
            <div class='search-form'> 
                <div class='form'>
                    <form  action="">
                        <div>
                            <label for="makes">Make</label>
                            <select name="makes" id="makes" onchange='makeOnChange()'>
                                <option value="any"selected>Any ({{totalVehicles}})</option>
                                {% for make, count in makeCounter.items %}
                                    <option value="{{make}}">{{make}} <p>({{count}})</p></option>    
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="models">Model</label>
                            <select name="models" id="models" onchange='modelOnChange()'>
                                <option value="any"selected>Any ({{totalVehicles}})</option>
                                {% for model, count in modelCounter.items %}
                                    <option value="{{model}}">{{model}} <p>({{count}})</p></option>
                                {% endfor %}    
                            </select>
                        </div>
                        <div> 
                            <label for="price">Max Price</label>
                      
                            <select name="price" id="maxPrice" onchange='priceOnChange()'>
                                <option value="any" selected>Any ({{totalVehicles}})</option> 
                                {% for price in priceDict.items %}
                                        <option id='price' value="{{price.0}}">Under ${{price.1.1}} ({{price.1.0}})</option>
                                {% endfor %}
                            </select>
                        </div>  
                        <div>
                            <label for="type">Body Style</label>
                            <select name="type" id="type" onchange='typeOnChange()'>
                                <option value="any" selected>Any ({{totalVehicles}})</option>
                                {% for body, count in bodyCounter.items %}
                                
                                    <option value="{{body}}">{{ body }} ({{count}})</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class='submit'>
                    <a href="{% url 'searchVehicle' %}"><button>Find Matches</button></a>
                </div>
            </div>
            <section id='slideshowcontainer'>
                <div class='slides'> 
                    {% for i in randomVehicles %}
                    <div class='slide'>
                        <div class='single-slide'>
                            <a href="{% url 'vehiclePage' i.slug i.pk %}"><img src="../media/{{i.picture}}" style='width: 100%;' alt=""> </a>
                            <p class='slide-price' >{{i.price}}</p>
                            <div class='titlemiles'>
                    
                                <a href="{% url 'vehiclePage' i.slug i.pk %}" style='text-decoration:none;'><p class='slide-title' >{{ i.title }}</p></a>
                                <p class='slide-miles' >{{ i.mileage }} miles</p>
                            </div> 
                            <div class='slide-vehicle-redirect'>
                                <!-- <a href="search-vehicles/{{i.slug}}-{{i.pk}}"><button>View</button></a> -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class='view-all-button'>
            
                    <button><a href='{% url 'searchVehicle' %}'>View All</a></button>
                </div>
            </section>
            
            <div class='intro'>
                <div class='intro-text'>
                    <!-- <h2>About Us</h2> -->
          
                     <!-- <p>
                        Let All City Auto Center show you how easy it is to buy a quality used car in Fargo. We believe fair prices, 
                        superior service, and treating customers right leads to satisfied repeat buyers.
                        
                        Our friendly and knowledgeable sales staff is here to help you find the car you deserve, priced to fit your budget. 
                        Shop our virtual showroom of used cars, trucks and suv's online then stop by for a test drive.
                        We would love to speak with you today! Contact Us (insert contact link here)
                    </p>
                    <p>
                        Corwin Public Wholesale has an extensive inventory of used cars, trucks, and SUVs.  
                        At Corwin Public Wholesale, we work hard to get you into the vehicle you have always wanted. 
                        That used car is waiting for you, and we work with a vast array of lending sources to make sure 
                        you will get the most complete and comprehensive financial package available.

                        At Corwin Public Wholesale in Fargo, ND, we treat the needs of each individual customer with 
                        paramount concern. We know that you have high expectations, and as a car dealer we enjoy the 
                        challenge of meeting and exceeding those standards each and every time. Allow us to demonstrate 
                        our commitment to excellence!
                        
                        Our experienced sales staff is eager to share its knowledge and enthusiasm with you. We encourage you 
                        to browse our online inventory, schedule a test drive and investigate financing options. You can also 
                        request more information about a vehicle using our online form or by calling (888) 837-5558.
                         
                        If you don't see a particular vehicle, click on CarFinder and complete the form. We will gladly 
                        inform you when a matching car arrives. If you'd like to see a vehicle in person, click on Dealership: 
                        Directions for step-by-step driving instructions to our site, or give us a call. We look forward to serving you!
                    </p>  -->
                    <p>Welcome to New Franken Automotive! We carry an extensive list of cars, trucks, and SUVs for fair prices. At    
                        New Franken Automotive, we have vehicles to fit a variety of budgets and needs. Our experienced sales staff
                        has years of experience in serving customers and helping them step by step to simplify the process of purchasing 
                        their vehicle. We encourage you to browse our <a href="{% url 'searchVehicle' %}">vehicle inventory</a> to see what we have available to you. 
                        You can also request more information by <a href="{% url 'contact' %}">contacting us</a> through email or by calling 
                        (920) 111-1111. We
                        look forward to serving you!
                        
                    </p>
                </div>
                <div id='carsale'>
                    <!-- ABOVE IMAGE CANNOT GO LIVE. POSSIBLE COPYRIGHT INFRINGEMENT  -->
                    <!-- ABOVE IMAGE CANNOT GO LIVE. POSSIBLE COPYRIGHT INFRINGEMENT  -->
                    <!-- ABOVE IMAGE CANNOT GO LIVE. POSSIBLE COPYRIGHT INFRINGEMENT  -->
                    <img src="https://image.shutterstock.com/image-vector/buying-car-handing-keys-vector-260nw-411190510.jpg" alt="">
                    <!-- ABOVE IMAGE CANNOT GO LIVE. POSSIBLE COPYRIGHT INFRINGEMENT  -->
                    <!-- ABOVE IMAGE CANNOT GO LIVE. POSSIBLE COPYRIGHT INFRINGEMENT  -->
                    <!-- ABOVE IMAGE CANNOT GO LIVE. POSSIBLE COPYRIGHT INFRINGEMENT  -->
                    <!-- ABOVE IMAGE CANNOT GO LIVE. POSSIBLE COPYRIGHT INFRINGEMENT  -->
                </div>
            </div> 
        </div>
  
        
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/home_page.js' %}"></script>
        <script type="text/javascript" src="{% static 'slick/slick/slick.min.js' %}"></script>
    </body>
    </html>
    
    
{% endblock %}   