{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static wagtailuserbar %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
        <!-- <title>Document</title> -->
    </head>
    <body> 
        <!-- {{ page.body|richtext }} -->
        <!-- <div class='bottom-banner'>
            <h4>Selling motor vehicles to the Brown County area for over 15 years!</h4>
        </div> -->
        <div class='dealerbanner'>
            <img src="../static/media/storefront.jpg" alt="">
        </div>
        <div class='body'>
            <h2 class='introtitle'>Welcome to New Franken Automotive</h2>
            <p>

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula quam et tortor vestibulum, sit amet rhoncus urna imperdiet. Duis lacinia vestibulum venenatis. Integer ut nibh turpis. Maecenas a dui a ipsum imperdiet hendrerit. Phasellus eu iaculis tortor. Praesent sodales purus nulla, non luctus odio elementum ac. Vestibulum pellentesque at ex non condimentum. Pellentesque at dapibus dui, vel maximus felis. Praesent cursus nisl vitae imperdiet dictum. Duis eget est pharetra, dictum nisl eu, semper augue. Donec sed maximus dolor. Donec porttitor ligula auctor feugiat rhoncus. Aliquam id imperdiet nibh.
                
                Nunc venenatis elementum nibh sit amet interdum. Integer fermentum libero nec tellus tristique efficitur. Integer pharetra est sit amet augue commodo, non ornare risus mollis. Nullam et mollis ligula. Proin porttitor egestas lacus, vel sodales nunc tincidunt ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin hendrerit mauris eget dolor porttitor, vel lacinia turpis viverra. Mauris nec odio enim. Nullam a sodales ex. Etiam quis efficitur libero. Aenean nec commodo dui. Vivamus venenatis lorem eu hendrerit fermentum. In a viverra odio, sit amet iaculis sem. Nunc blandit et nisl id laoreet. Maecenas vitae est augue. Nunc mollis ac lacus sit amet elementum.
             </p>
            <!-- <p>(this is copy pasted from villageauto, do not use live) Welcome to New Franken Used Car. Over 400 Used Cars, Trucks, SUV, & Vans in Green Bay. Providing great used cars and trucks to Green Bay, Allouez, Ashwaubenon, Howard, De Pere, Bellevue, Suamico, Kaukauna, 
                Little Chute, Appleton, Menasha, Neenah, Two Rivers, Manitowoc, Sturgeon Bay and Oshkosh.

                Green Bay Used Cars, Trucks, Imports and high quality pre-owned vehicles on the West side of Green Bay. Your budget priced headquarters. 
                Many cars and trucks on our used car lot to select from including value checked vehicles at great budget prices. 
                Plus with non-commissioned sales staff, we are here to help you find the right vehicle without pressure. Gandrud West Mason Value Center  One Low Price??Always!!!
            </p> -->
            <p>maybe insert carousel here</p>
        </div>
    </body>
    </html>
    
    
{% endblock %}  