{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static wagtailuserbar %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en"> 
    <head> 
        <meta charset="UTF-8">
        <title>Search Inventory</title> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/search_vehicles.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/nouislider@10.0.0/distribute/nouislider.min.css">
        <script src="https://kit.fontawesome.com/f19908a36f.js" crossorigin="anonymous"></script>
    </head>
    <body> 
        <div class='sort-hide-mobile'>
            <div class='sort'>
                    <p id='totalMatches'>0 matches</p>
                <div class='card-pp'>
       
                    <select onchange='setVehiclePPSession();' name="" id="vehicle-pp">
                        <option value="default" selected>Vehicle Per Page</option>
                        <option value="3">3 vehicles</option>
                        <option value="25">25 vehicles</option>
                        <option value="50">50 vehicles</option>
                        <option value="100">100 vehicles</option>
                    </select>
                </div>
                <div class='sortdiv'> 
    
                    <select onchange='setSortSession()' id='sort' name="">
                        <option value="default" selected>Sort By</option>
                        <option value="HiLo">Price: Hi-Lo</option>
                        <option value="LoHi">Price: Lo-Hi</option>
                        <option value="AZ">Make: A-Z</option>
                        <option value="ZA">Make: Z-A</option>
                        <option value="NO">Year: New-Old</option>
                        <option value="ON">Year: Old-New</option>
                    </select>
                </div>
            </div>
        </div>
         
       <div class='body'>
        
            <div class='searchbar'>
                <div class='searchBarTop'>
                    <div style='display:flex;justify-content: center;' class='practice'>
                    </div>
                    <div id='filter-reset'>
                        <p style='text-align: center; font-size: 3rem; width: 90%;'>Filter Results</p>
                        <button id='reset-button'>Reset Filter</button>
                    </div>

                    <i id='hideFilter' class="fas fa-window-close"></i>
                    
                </div>
                
                <div class='dropDownContainer'>
                    <div class='search'>
                        <div id='dropDownTarget'>
                            <p>Price Range</p>
                            <p><i id='leftcaret' class="fas fa-angle-left"></i></p>
                        </div>
                        <div class='dropDown'> 
                            <div style='margin: 4.5rem; margin-top: 7rem;' class='regular-slider'>
                    
                            </div>

                            <div class='price-input'> 
                                <span class="textbox"> 
                                    $
                                    <input value='' type="text" id="min" oninput='sliderChange(this);changePage(1, "a");'/>
                                </span>
                                <span class='textbox'>
                                    $
                                    <input value='' id='max' type='text' oninput='sliderChange(this);changePage(1, "a")'/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='search'>
                        <div id='dropDownTarget'>
                            <p>Make</p>  
                            <p><i id='leftcaret' class="fas fa-angle-left"></i></p>
                        </div>
                        <div class='dropDown'>
                            <form id='make-form' action="">
                                {% for make, count in makeCounter.items %}
                                    <label class='container'>{{make}} <p style='display: inline;; font-weight: normal'>({{count}})</p>
                                        <input class='make-input' type="checkbox" value='{{make}}' onclick='makeSession(); changePage(1,"a")'>
                                        <span class='checkmark'></span>
                                    </label>
                                {% endfor %}
                            </form>
                        </div> 
                    </div>
                      
                    <div class='search'>
                        <div id='dropDownTarget'>
                            <p>Mileage</p>
                            <p><i id='leftcaret' class="fas fa-angle-left"></i></p>
                        </div>
                        <div class='dropDown'>
                            <div style='margin: 4rem;margin-top: 7rem;' class='mileage-slider'>
                            </div>
                            <div class='mileageSpan'>
                                    <input type="text" id="mileageMin" oninput='mileageSliderChange(this);changePage(1, "a"); '/>
                                    <input id='mileageMax' type='text' oninput='mileageSliderChange(this);changePage(1, "a"); '>
                                
                            </div>
                            
                        </div> 
                    </div>
                    <div class='search'> 
                        <div id='dropDownTarget'>
                            <p>Model</p> 
                            <p><i id='leftcaret' class="fas fa-angle-left"></i></p>
                        </div>
                        <div class='dropDown'>
                            <form id='model-form' action="">
              
                                    {% for model, count in modelCounter.items %}
                                        <label class='container'>{{model}} <p style='display: inline;'>({{count}})</p>
                                            <input class='model-input' type="checkbox" value='{{model}}' onclick='modelSession(); changePage(1,"a")'>
                                            <span class='checkmark'></span>
                                        </label>
                                    {% endfor %}
                         
                            </form>
                        </div>
                    </div> 
                    
                    <div class='search'>
                        <div id='dropDownTarget'>
                            <p>Year</p>
                            <p><i id='leftcaret' class="fas fa-angle-left"></i></p>
                        </div>
                        <div class='dropDown'>
                            <form id='year-form' action="">

                                {% for year, count in yearCounter.items %}
                                    <label class='container'>{{year}} <p style='display: inline;'>({{count}})</p>
                                        <input class='year-input' type="checkbox" value='{{year}}' onclick='yearSession(); changePage(1,"a")'>
                                        <span class='checkmark'></span>
                                    </label>
                                    
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                    <div class='search'>
                        <div id='dropDownTarget'>
                            <p>Fuel Efficiency</p>
                            <p><i id='leftcaret' class="fas fa-angle-left"></i></p>
                        </div>
                        <div class='dropDown'>
                                <form id='fuel-input' action="">
                                    {% for fuel, count in fuelCounter.items %}
                                            <label class='container'>{{fuel}}+ mpg <p style='display: inline;'>({{count}})</p>
                                                <input class='fuel-input' type="checkbox" value='{{fuel}}' onclick='fuelSession(); changePage(1,"a")'>
                                                <span class='checkmark'></span>
                                            </label>
                                    {% endfor %}
                                            <!-- <label class='container'>20+mpg
                                                <input class='fuel-input' type="checkbox" value='20' onclick='fuelSession(); changePage(1,"a")'>
                                                <span class='checkmark'></span>
                                            </label>
                                  
                                            <label class='container'>30+mpg
                                                <input class='fuel-input' type="checkbox" value='30' onclick='fuelSession(); changePage(1,"a")'>
                                                <span class='checkmark'></span>
                                            </label>
                                            <label class='container'>40+mpg
                                                <input class='fuel-input' type="checkbox" value='40' onclick='fuelSession(); changePage(1,"a")'>
                                                <span class='checkmark'></span>
                                            </label> -->
                                </form>
                        </div>
                    </div>
                    <div class='search'>
                        <div id='dropDownTarget'>
                            <p>Body Style</p>
                            <p><i id='leftcaret' class="fas fa-angle-left"></i></p>
                        </div>
                        <div class='dropDown'>
                            <form id='body-form' action="">
                                {% for body, count in bodyCounter.items %}
                                <label class='container'>{{body}} <p style='display: inline;'>({{count}})</p>
                                    <input class='body-input' type="checkbox" value='{{body}}' onclick='bodySession(); changePage(1,"a")'>
                                    <span class='checkmark'></span>
                                </label>
                                    
                                {% endfor %}
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>  
            <div class='displayFilter'>
                <div id='filters'>
                    <button id='reset-button'>Reset Filter</button>
                    <button class='showFilter'><p><i class="fas fa-filter"></i> Filter</p></button>
                </div>
                     
               
                <div class='mobile-sort-div'>
                    <div class='sort'>
                
                            <p id='totalMatches'> matches</p>
                    
           
                        <div class='card-pp'>
             
                            <select onchange='setVehiclePPSession();' name="" id="vehicle-pp">
                                <option value="default" selected>Vehicles Per Page</option>
                                <option value="3">3 vehicles</option>
                                <option value="25">25 vehicles</option>
                                <option value="50">50 vehicles</option>
                                <option value="100">100 vehicles</option>
                            </select>
                        </div>
                        <div class='sortdiv'>
        
                            <select onchange='setSortSession()' id='sort' name="" >
                                <option value="default" selected>Sort By</option>
                                <option value="HiLo">Price: Hi-Lo</option>
                                <option value="LoHi">Price: Lo-Hi</option>
                                <option value="AZ">Make: A-Z</option>
                                <option value="ZA">Make: Z-A</option>
                                <option value="NO">Year: New-Old</option>
                                <option value="ON">Year: Old-New</option>
                            </select>
                        </div>
                </div>
            </div>
            </div>
                <div class='pagination-container'>
                    
                    <div class='searchresults'>
                        
                        {% for attribute in vehicle %}
                            <div value='{{attribute.pk}}' class='vehicleCard' onmouseover='cardHighlightIn(this)'; onmouseout="cardHighlightOut(this)">
                                <div class='topVehicleCard'>
                                    <div class='vehicleImg'>
                                        <img src="../../media/{{ attribute.picture }}" alt="">
                                    </div>
                                    <div class='vehicleInfo'>
                                        <div value='{{ attribute.carType }}' class='vehicleTitle'>
                                            <div class='year'>
                                                <p class='vehicleYear' id='make' name='{{attribute.model}}' value ='{{attribute.make}}'> {{attribute.title}} </p>
                                            </div>
                                            <p name='vehicle-price' class='vehicle-price' >{{ attribute.price }}</p>
                                        </div>
                                        <div class='vehicleDetails'>
                                            <div class='mobileMileageDisplay'>
                                                <p>{{ attribute.mileage }} miles</p>
                                            </div>
                                            <div class='vehicleTable1'> 
                                                <table>
                                                    <tr>
                                                        <th>Mileage</th> 
                                                        <th name='mileage' id='mileageId' class='align-right'>{{ attribute.mileage }}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>MPG</th>
                                                        <th name='mpg' id='mpg' class='align-right'>{{ attribute.mpg }}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Exterior Color</th>
                                                        <th name='exterior_color' class='align-right'>{{ attribute.exterior_color }}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Interior Color</th>
                                                        <th name='interior_color' class='align-right'>{{ attribute.interior_color }}</th>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class='vehicleTable2'>
                                                <table>
                                                    <tr>
                                                        <th>Transmission</th>
                                                        <th name='transmission' class='align-right'>{{ attribute.transmission }}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Engine</th>
                                                        <th name='engine' class='align-right'>{{ attribute.engine }}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Drive Line</th>
                                                        <th name='drive_line' class='align-right'>{{ attribute.drive_line }}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Stock Number</th>
                                                        <th name='stock_number' class='align-right'>{{ attribute.stock_number }}</th>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div value='{{attribute.pk}}' class='moreInfo'>
                                    <a href="{{attribute.slug}}-{{attribute.pk}}/"><button>View</button></a>
                            </div> 
                        </div>
                        {% endfor %}
                    </div>
                    <div class='pagination'>
                            <a onclick='prevPage()' ><button id="btn_prev">&#8249; Prev </button></a>
                            Page <span id="page"></span> of <span id='totalpage'></span>
                            <a onclick='nextPage()'><button id="btn_next">Next &#8250;</button></a>
                    </div>
                </div>
            </div>
        </div>
       </div>
       <script src="https://unpkg.com/nouislider@10.0.0/distribute/nouislider.min.js"></script>
       <script src="https://unpkg.com/wnumb@1.1.0"></script>
       <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
       <script type="text/javascript" src="{% static 'js/searchvehicles.js' %}"></script>
    </body>
    </html>
{% endblock %}    