{% extends "base.html" %}

<!-- {% load wagtailcore_tags %}
{% load static wagtailuserbar %}
{% block body_class %}template-homepage{% endblock %}  -->


{% load wagtailcore_tags wagtailimages_tags %}


  
{% block content %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vehicle_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick/slick-theme.css' %}"/>
    
    <title>{{vehicle.title}}</title>
</head> 
<body> 
    <h2 id='h2-header'>View Vehicle</h2>
    <h2 id='h2-header-mobile'>Search Vehicles</h2>
    {% if messages %} 
        {% for message in messages %}

            <p id='form-submission'>{{ message }}</p>
    
        {% endfor %}
    {% endif %}
    
    <div class='vehicle-page'>
        
        <div class='image-details'>
            <div class='image'> 
                <div class='vehicletitle'>
                    <p>{{ vehicle.title}}</p> 
                    <div style='display: flex;' id='vehicleTitle'>
                        <p id='vmake' style='display:none;'>{{ vehicle.make}}</p>
                        <p id='vmodel' style='display:none;'>{{vehicle.model}}</p>
                        <p id='vyear' style='display:none;'>{{vehicle.year}}</p>
         
                    </div>
                    
                </div>
                <div class='carousel-container'>
                    <div class='slides'>
                        <img class='slide-images' src="../../media/{{ vehicle.picture }}" alt="">
                        {% for item in vehicle.gallery_images.all %}
          
                                {% image item.image width-456 height-480 class='slide-images' %} 
                            
   
                        {% endfor %}
                    </div>
                    <div class='image-index' style='text-align: center; display: flex; justify-content: center;'>
                        <p style='margin-right: 0.2em'>Image <p class='current-image'>1 </p>/<p class='total-images'>3</p></p>
                    </div>
                </div>
            </div>
            <div class='details'>
                <div class='price'>
                    <div>
                        <p>Price</p>
                        <p id='price'>{{vehicle.price}}</p>
                    </div>
                    <div>
                        <p>Mileage</p>
                        <p id='vehicle-mileage'>{{vehicle.mileage}}</p>
                    </div>
                </div>
                <div class='cardetails'>
                    <div class='tables'>
                        <div class='table1'>
                            <table>
                                <tr>
                                    <th>MPG</th>
                                    <th id='mpg'>{{vehicle.mpg}}</th>
                                </tr>
                                <tr>
                                    <th>Exterior Color</th>
                                    <th id='exterior-color'>{{vehicle.exterior_color}}</th>
                                </tr>
                                <tr>
                                    <th>Interior Color</th>
                                    <th id='interior-color'>{{vehicle.interior_color}}</th>
                                </tr> 
                                <tr>
                                    <th>Doors</th>
                                    <th id='vehicle-doors'>{{vehicle.doors}}</th>
                                </tr>
                                <tr>
                                    <th>Transmission</th>
                                    <th id='vehicle-transmission'>{{vehicle.transmission}}</th>
                                </tr>
                                <tr>
                                    <th>Engine</th>
                                    <th id='vehicle-engine'>{{vehicle.engine}}</th>
                                </tr>
                                <tr>
                                    <th>Drive Line</th>
                                    <th id='vehicle-driveline'>{{vehicle.drive_line}}</th>
                                </tr>
                                <tr>
                                    <th>Stock Number</th>
                                    <th id='vehicle-stocknumber'>{{vehicle.stock_number}}</th>
                                </tr>
                                <tr>
                                    <th>VIN</th>
                                    <th id='vehicle-vin'>1M8GDM9A_KP042788</th>
                                </tr>
                                
                                
                                
                            </table>
                        </div>
                    </div>
                    <div class='search-more'>
                        <a href="{% url 'searchVehicle' %}"><button>View More Vehicles</button></a>
                        <button id='form-submit'>Contact Us</button>
                    </div>
                </div>
            <div class='contact-form'>
                <form id='contact-form' action="" method='post'>
                    {% csrf_token %}
                    <ul>
                        <li> 
                            <label>First Name*</label> 
                            {{ form.nameFirst }}
                        </li>
                         <li>
                            <label>Last Name*</label>
                            {{ form.nameLast }}
                        </li>
                         <li>
                            <label>Email*</label>
                            {{ form.email }}
                        </li>
                         <li> 
                            <label>Phone*</label> 
                            {{ form.phone }}
                        </li> 
                        <li>
                            <label>Contact me by</label>
                            {{ form.contactBy }}
                        </li>
                    </ul>
                    {{ form.message }}
                    {{ captcha.captcha }} 
                    <input type="submit" value='Submit'>
                </form> 
            </div>    
            </div>
        </div> 
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/vehicle_page.js' %}"></script>
    <script type="text/javascript" src="{% static 'slick/slick/slick.min.js' %}"></script>
</body>
</html>
{% endblock %} 