* {
    margin: 0;
    padding: 0;
}

.delete-test-div{
    
}

p {
    margin-bottom: 0;
}

.dealerbanner {
    position: relative;
    height: 70vh;
    width: 100%;
    z-index: 4;
}

.dealerbanner > img { 
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    /* filter: blur(1px); */ 
}

.body {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body > h2 {
    /* padding-top: 50px; */
}

.body > p {
    padding: 10px;
    padding-bottom: 4vh;
    border-bottom: 1px solid black;
}

#slideshowcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99%;
    margin: 10% 0 5vh 0;
   /* background-color: #2f74a3; */ 

}

.view-all-button {
    margin-top: 8vh;
    height: auto;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
 
}

.view-all-button > button {
    height: 100%;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.view-all-button > button {
    background-color: #2f74a3;
    color: white;
    height: 60%;
    width: 40%;
}

.view-all-button > button > a {
    color: white;
    text-decoration: none;
}

.slides {
    width: 75vw;
    height: 100% !important;
    display: flex !important;
    /* background-color: #2f74a3; */
    padding: 10px;
}

.slide {
    height: 100%!important;
    margin: 0 10px 0 10px;
}

.slide-price{
    background-color: #2f74a3;
    color: white;
    padding: 6px 6px 6px 12px;
    font-weight: bolder;
}

.dealership-image {
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
}

.titlemiles {
    background-color: #333333;
    color: white;
    padding: 12px; 
    

 
}

.titlemiles > a:first-child {
    max-width: 98%;
    text-transform: uppercase;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: lighter;
    font-size: 17px;
    /* letter-spacing: 0; */
    margin-bottom: 3vh;
    color: white;
}

.titlemiles > a > p:first-child {
    max-width: 98%;
    text-transform: uppercase;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: lighter;
    font-size: 17px;
    /* letter-spacing: 1px; */
    margin-bottom: 3vh;
}
.dealership-image {
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
}

.slide-vehicle-redirect {
    text-align: center;
    
    background-color: #333333;
}

.slide-vehicle-redirect > a > button {
    background-color: #2f74a3;
    margin: 1em;
    color: white;
    border: none;
    border-radius: 0px;
}

.search-form {
     background-color: #2f74a3; 
    /* background-color: #333; */
    width: 100%;
    margin: 10vh 0 10% 0;
    padding: 3vh;
    position: relative;
    z-index: 1;
}

.form {
    width: 100%;
    /* text-align: center; */
}

.form > form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    color: white;
}

.form > form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vh;
}

.form > form > div > select {
    width: 90%;
}

.search-form > form {
    height: auto;
    width: auto;
    display: flex;
}

.submit {
    text-align: center;
    margin-top: 2vh;
}

.submit > a > button {
    background-color: #999999c2;
    color: white;
    border: none;
    font-size: 18px;
}

.intro {
    width: 105%;
    /* padding: 0 7% 0 7%; */
    /* margin-left: -5%;
    margin-right: -5%; */
    text-align: left;
    display: flex;
    flex-direction: column-reverse;
    border-top: 1px solid gray;
    /* border-bottom: 1px solid black; */
    position: relative;
}




#carsale {
    margin: 0 auto;
    margin-top: 5vh;
    width: 90%;
    
}

#carsale > img {
    width: 100%;
    height: 100%;
    margin-bottom: 5vh;
    position: relative;
    z-index: 1;
}

.introtitle {
    width: auto;

    text-align: center;
    margin-left: -1%;
    margin-right: -1%;
    /* margin: 1vh auto; */
    margin-bottom: 1vh;
    padding: 2%;

}

#content {
    position: relative;

    width:90%;
    height:auto;
    left:0vw;
    display: flex;
    margin-bottom: 10%;
    justify-content: center;
}  

#content:before, 
#content:after, 
#content>:last-child:before, 
#content>:last-child:after {

    width: 60px; 
    height: 5vh;

    border-color: #757575; 
    border-style: solid;
    content: ' ';
}

#content:before {
    /* top: 10px;
    left: 10px; */
    border-width: 1px 0 0 1px
}

#content:after {
    /* top: 10px;
    right: 10px; */
    border-width: 1px 1px 0 0
}

#content>:last-child:before {
    border-width: 0 0px 0px 0
}
  
#content>:last-child:after {
    border-width: 0 0 0 0
} 



.intro-text > p::before {
    content: "";
    /* background: url("../../staticfiles/media/siteImages/tire.052f47edfb31.svg") no-repeat; */
    height: 50%;
    width: 100%;
    left:0;
    top: 50%;
    position: absolute;
    opacity: 0.15;

    
}

.intro-text{
    margin: 0 auto;
    margin-bottom: 11vh;
    margin-top: 5vh;
    /* text-indent: 40px; */
    text-align: center;
    width: 100%;
}


  
.background1 {
    display: none;
  }
.background2{
    display: none
}


@media screen and (min-width: 1024px) {

    .body {
        margin: 0; 
   
    } 

    #slideshowcontainer {
        display: flex;
        justify-content: center;
        width: 99%;
        margin: 0 0 5vh 0;
        /* background-color: #2f74a3; */
       
        border-bottom: 1px solid gray;
    }

    .slides {
        width: 95%;
        height: 100% !important;
        display: flex !important;
        /* background-color: #2f74a3; */
        padding: 25px;
        
    }

    .slide {
        height: 100%!important;
        margin: 0 10px 0 10px;
    }
    
    /* .single-slide:hover{
        box-shadow: 0px 0px 50px 7px gray;
    } */

    .slide-price{
        background-color: #2f74a3;
        color: white;
        padding: 6px 6px 6px 12px;
        font-weight: bolder;
        text-align: left;
    }

    .titlemiles {
        background-color: #595959;
        color: white;
        padding: 12px; 
        text-align: left;

     
    }

    .titlemiles > a:first-child {
        max-width: 98%;
        text-transform: uppercase;
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: lighter;
        font-size: 17px;
        /* letter-spacing: 1px; */
        margin-bottom: 3vh;
        color: white;
    }

    .titlemiles > a > p:first-child {
        max-width: 98%;
        text-transform: uppercase;
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: lighter;
        font-size: 17px;
        letter-spacing: 0.5px;
        margin-bottom: 3vh;
    }
    .dealership-image {
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
    }

    .view-all-button {
  
        margin-top: 8vh;
        /* height: 100%;
        width: 100%; */
        
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 4vh;
    }
    
    .view-all-button > button {
        background-color: #2f74a3;
        height: auto;
        font-size: 22px;
        width: auto;
    }
    
    .view-all-button > button > a {

        color: white;
        height: 100%;
        width: auto;
        font-size: 1.5rem;
    }

    .search-form {
        background-color: #2f74a3;
        /* background-color: #333; */
        width: 100%;
        margin: 10vh 0 10vh 0;
        padding: 1vh 0 1vh 0;

    }

    .form {
        width: 100%;
    }

    .form > form{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color: white;
    }

    .search-form > form {
        height: auto;
        width: auto;
        display: flex;
    }

    .submit {
        text-align: center;
        
    }

    .submit > a > button {
        background-color: #acacac;
        color: white;
        border: none;
        font-size: 18px;
    }

    .intro {
        width: 99%;
        margin-left: 1.5%;
        margin-right: 1.5%;
        /* padding-bottom: 4vh; */
        /* border-bottom: 1px solid black; */
        display: flex;
        flex-direction: row;
        margin-top: 0;
        border: none;
        margin-bottom: 3vh;
        /* border-bottom: 1px solid gray; */
    }

    .intro-text {
        width: 80%;
        margin-left: 5%;
        margin-bottom: 5vh;
        margin-right: 3%;
        text-indent: 40px;
        font-size: 18px;
    }

    .intro-text > h2 {
        text-align: center;

        text-indent: 0px;
    }

    .form > form > div > select {
        width: 200px;
    }

    #carsale {
        display: inline-block;
        margin-left: 3%;
        width: 50%;
        margin-top: 0;
    } 

    #carsale > img {
        width: 70%;
        height: 80%;
    }

    .introtitle {
        width: auto;
        height: 15vh;
        text-align: center;
        margin-left: -1%;
        margin-right: -1%;
        /* margin: 1vh auto; */
        /* margin-bottom: 2%; */
        /* padding: 3%; */
  
    }

	
    #content {
        position: relative;
        height: auto;
        width:75%;
        /* height:25vh; */
        /* left:12.5vw; */
        display: flex;
        margin-bottom: 7vh;
        justify-content: center;
    }
    #content h2 {
    
    }  

      

    #content:before, 
    #content:after, 
    #content>:last-child:before, 
    #content>:last-child:after {
    
        width: 60px; 
        height: 40px;

        border-color: #757575; 
        border-style: solid;
        content: ' ';
    }
    
    #content:before {
        /* top: 10px;
        left: 10px; */
        border-width: 1px 0 0 1px
    }
    
    #content:after {
        /* top: 10px;
        right: 10px; */
        border-width: 1px 1px 0 0
    }
    
    #content>:last-child:before {
        border-width: 0 0px 0px 0
    }
    
    #content>:last-child:after {
        border-width: 0 0 0 0
    }

      .mybg {
        background: url(https://openclipart.org/image/2400px/svg_to_png/242967/Oval-Pattern--Arvin61r58.png) repeat-y;
        position: absolute;
        background-position: left;
        background-repeat: repeat-y;
        content: "";
        background-size: 25px 25px;
        opacity: 0.1; 
        z-index: 0;
        width: 25px;
        height: 100vh;
        max-height: 0vh;
      }
 
      .mybg2 {
        background: url(https://openclipart.org/image/2400px/svg_to_png/242967/Oval-Pattern--Arvin61r58.png);
        position: relative;
        background-position: right;
        background-repeat: repeat-y;
        content: "";
        background-size: 25px 25px;
        opacity: 0.1;
        z-index: 0;
        width: 25px;
        height: 100vh;
        max-height: 0vh;
      } 

      .background1 {
        display: inline-block;
        position: absolute;
        z-index: 0;
        left: 30px; 
        top: 0;
        height: 100vh;
        margin-left: 10px;
        transform: rotate(-20deg);

      }

      .background2{
          display: inline-block;
          position: absolute;
          z-index: 0;
          left: 0;
          left: 0;
          top: 0;
          height: 100vh;
          transform: rotate(-20deg);

      } 

      .roll {
        transition: all 2s ease-in;
        /* max-height: 1500px; */

      }
 
      
      #svg2 {
        transform: rotate(85deg);
        position: relative;
        left: -20px;
        background: rgba(0, 151, 19, 0);
        opacity: 0.8;
        /* margin-right: 50px; */
        height: 100px;
        width: 120px;
        top: 0;
        z-index: 0;
        border: none;
        
      }

      .intro-text > p {
        position: relative;
        z-index: 1;
      }
      


}  
 




