* {
    margin: 0;

}

blockquote, dl, figure, form, ol, p, pre, table, ul {
    margin: 0;
}

.direction {
    height: auto;
    /* width: 100%;
    height: 100%; */
    /* display: flex;
    flex-direction: column; */
    /* padding: 10vh 7% 5% 7%; */

}



.mobiledirections {

    background-color: #fff;   
    margin: 0 auto;
    /* padding: 2vh 2vh 2vh 2vh; */
    box-shadow: 1px 1px rgb(133, 133, 133);
    border-radius: 5px;
    margin-bottom: 5vh;
    margin-top: 15vh;
 
} 

.mobiledirectionsformdiv {
    margin: 0 auto;
    margin-top: 18vh;
    text-align: center;
    width: 90%;
    padding: 1rem 0 1rem 0;
    margin-bottom: 2vh;
    box-shadow: 1px 1px rgb(133, 133, 133);
    border-radius: 5px;
    border: 1px solid #333;
}

#map{
    width: 100%;
    text-align: center;
    height: 70vh;
    margin-bottom: 2vh;
}

#map > iframe {
    height: 100%;
    width: 95%;
}

.mobiledirectionsdiv {
    display: flex;
    justify-content: center;
}

#mobiledirectionform {
    display: flex;
    justify-content: center;
}
 

.formcard {
    display: none;

}

#directionform > input {
    background-color: #cecece;
    border: 1px solid gray;
}

.directioncards{
    display: flex;
    flex-direction: column;
    width: 100%;
  
}

.contactcard {
    width: 90%;
    margin: 0 auto;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    /* background-color: #fff; */
    height: 180px;
    /* border: 1px solid rgb(1, 96, 197); */
    padding: 15px;
    box-shadow: 1px 1px rgb(133, 133, 133);
    border-radius: 5px;

    margin-top: 15px;
    margin-bottom: 2vh;
}

.contactcard > p {
    margin-bottom: 0px;
}

.contactcard > p {
    border-bottom: 1px dotted black;
}

.contactcard > p:first-child {
    border-bottom: none;
}

.hourscard {
    width: 90%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #fff; */

    padding: 15px;
    box-shadow: 1px 1px rgb(133, 133, 133);
    border-radius: 5px;
    margin-top: 2vh;
    padding-top: 30px;
    margin-bottom: 8%;
}

.largemap {
    display: none; 
}

.formcard, .contactcard, .hourscard{
    border: 1px solid #333;
}

.formcard:hover, .contactcard:hover, .hourscard:hover {
    transition: 0.2s background-color ease, 0.2s border ease;
    background-color: #2f75a338;
    border: 1px solid black;
}

.footerlocation {
    display: none;
}

.footerhours {
    display: none;
} 

.mobiledirectionsformdiv > form > input:last-child {
    background-color: #2f74a3;
    border: none;
    color: white;
}

.hours-tbody > tr > th {
    color: red;
    font-weight: bold;
    border-bottom: 1px dotted black;
}

@media screen and (min-width: 700px) { 
    .direction {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: center;
        padding: 8vh 5% 5% 5%;
        /* height: 100%;
        width: 100%;
        
        
        display: flex;
        flex-direction: row;
        justify-content: space-between; */
      
    }

    .mobiledirectionsformdiv {
        display: none;
    }

    .mobilemap {
        display: none;
    }

    .largemap {
        height: 100%;
        width: 100%;
        display: inline; 

    }
    #map {
        width: 100%;
        height: auto;
       margin-right: 4%;
    }

    /* #map iframe {
        width: 100%;
        height: 100%;
    } */
    .formcard {
        /* background-color: #fff;  */
        width: 100%;
        padding: 5px;
        box-shadow: 1px 1px rgb(133, 133, 133);
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 5vh;

    }



    .contactcard { 
        width: 100%;
        margin-bottom: 5vh;
        /* background-color: #333;
        color: white; */
        margin-top: 0;
    }
 
    .hourscard {
        width: 100%;
        height: auto;
        margin: 0;
    
        /* background-color: #333;
        color: white; */
    }
 
    .hours-tbody > tr > th {
        color: black;
        border-bottom: 1px dotted black;
    }

    .directioncards {
        width: 50%;

    }
    #directionform> input:last-child {
        background-color: #2f74a3;
        color: white;
    }
}

