* {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0;
}

.dealerbanner {
    
    height: 100%;
    width: 100%;
}

.dealerbanner > img {
    height: 100%;
    width: 100%;
    /* filter: blur(1px); */ 
}

.body {
    

    width: 90%;
 

    margin-left: 5%;
    margin-right: 5%;
}

.body > h2 {
    padding-top: 50px;
}

#slideshowcontainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15vh 0 15vh 0;
   /* background-color: #2f74a3; */

}

.slides {
    width: 85%;
    height: 100% !important;
    display: flex !important;
    /* background-color: #2f74a3; */
    padding: 10px;
}

.slide {
    height: 100%!important;
    margin: 0 10px 0 10px;
}

.slide-price{
    background-color: #2f74a3;
    color: white;
    padding: 6px 6px 6px 12px;
    font-weight: bolder;
}

.dealership-image {
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
}

.titlemiles {
    background-color: #333333;
    color: white;
    padding: 12px; 
    

 
}

.titlemiles > p:first-child {
    max-width: 98%;
    text-transform: uppercase;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: lighter;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 3vh;
}

.titlemiles > p:last-child {
    font-weight: lighter;
}
.dealership-image {
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
}

.slide-vehicle-redirect {
    text-align: center;
    
    background-color: #333333;
}

.slide-vehicle-redirect > a > button {
    background-color: #2f74a3;
    margin: 1em;
    color: white;
    border: none;
    border-radius: 0px;
}


@media screen and (min-width: 1024px) {

    #slideshowcontainer {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 15vh 0 15vh 0;
        /* background-color: #2f74a3; */
       
  
    }

    .slides {
        width: 95%;
        height: 100% !important;
        display: flex !important;
        /* background-color: #2f74a3; */
        padding: 25px;
        
    }

    .slide {
        height: 100%!important;
        margin: 0 10px 0 10px;
    }

    .slide-price{
        background-color: #2f74a3;
        color: white;
        padding: 6px 6px 6px 12px;
        font-weight: bolder;
    }

    .titlemiles {
        background-color: #333333;
        color: white;
        padding: 12px; 
        

     
    }

    .titlemiles > p:first-child {
        max-width: 98%;
        text-transform: uppercase;
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: lighter;
        font-size: 17px;
        letter-spacing: 1px;
        margin-bottom: 3vh;
    }
    .dealership-image {
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
    }
 
} 