.body {
    /* height: 100%; */
    width: 100%;
    padding: 0 0 5% 0;
    /* min-height: 100vh; */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    */

} 

p {
    margin-bottom: 0;
} 

.searchbar {
    background-color: #cecece;
    display: none;
    border: 1px solid black;
    flex-direction: column;
    margin: 0 auto;
    /* margin-bottom: 5vh; */
} 
 
.searchbar > p {
    margin-bottom: 100px;
}

.searchBarTop {
    display: flex;
    flex-direction: row;
    padding: 5% 0 5% 0;
}

#navbar {
    display: none;
}

#filter-reset {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

#filter-reset > button {
    /* border: 1px solid #2f75a3a8;; */
    background: transparent;
    border-radius: 4px;
    /* box-shadow: 1px 1px #2f75a3a8; */

    color: white; 
    background-color: #2f75a3a8;
}

#hideFilter {
    position: absolute;
    /* display: none; */
    right: 3%;
    padding-top: -50px;
    width: 0;
}

#filter-reset > button:hover {
    border: 1px solid #2f75a3a8;
    color: #333;
    background-color: transparent;
}

.fas.fa-window-close{
    font-size: 30px;
    color: #2f74a3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vh;
    cursor: pointer;
    
}

/* .fa-angle-left {
    transition: 0.2s background-color ease;
    background-color: red;
} */


.searchresults {

    height: 100% ;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:0;
}



.regular-slider {
    height: 100px;
    /* z-index: -1; */
    
}

.price-input {
    width: 100%;    
    text-align: center;
    padding-top: 2vh;
    margin-bottom: 2vh;
}



.mileageSpan p {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* font-size: 15px !important; */
    padding: 0 5px 0 5px;
}

.yearDropDown {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-bottom: 1.5rem;
}

.yearDropDown p {
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
    font-size: 15px !important;
    padding: 0 8px 0 8px;
}

.textbox {


    line-height:20px;
    height:20px;
    padding:3px;
    border: none;
    font-size:13pt;
}
    
.textbox > input {
    border: 0px;
    width: 80px;
    background-color: #FFF;
  }

.slider {
    height: 100px;
    width: auto;
    margin: 0 auto;
    padding: 0 auto;
}

#selectYearMin, #selectYearMax {
    margin-bottom: 0;
}
 
.topVehicleCard {
    display: flex;
    flex-direction: row;
 
    height: 100%;
}

.yearFilter > select {
    width: 44%;
}


.vehicleCard {
    border: 1px solid #929292;
    /* background-color: #2f75a318; */
    display: flex; /* change to flex */
    flex-direction: column;
    width: 90%;
    margin-bottom: 4vh;
    height: auto;
}

.vehicleInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.vehicleImg {
    width: 40%;
    height: 95%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    /* align-self: center; */
}

.vehicleImg > img {
    width: 100%;
    height: 100%;
}
.vehicleTitle {
    width: 100%;
    /* margin-bottom: 8%; */
    font-family: "Times New Roman", Times, serif;
    height: 100%;
    display: flex;
    flex-direction: column;
   
    
}

.year {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    /* color: #595959; */
    line-height: 1.1;
    margin-bottom: 1rem;
    
}

.year > p{
    font-size: 1.3rem;
    font-weight: bold;
}

.vehicle-price {
    font-size: 1rem;
    font-weight: bold;
    background-color: #2f74a3;
    color: white;
    width: 7rem;
    text-align: center;
    margin-top: 0.3rem;
    margin-bottom: 1vh;
    padding: 2px 0 2px 0;
     
   /* font-family: "Times New Roman", Times, serif; */
}



.vehicleDetails {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 60%; */
    color: black;
    margin-bottom: 1vh;
    font-size: 15px;
    font-weight: lighter;
}

.vehicleTable1, .vehicleTable2{
    color: black;
    width: 45%;
    display: none;
}



.vehicleTable1 > table, .vehicleTable2 > table {
    color: black;
    width: 95%;
    border-collapse: collapse;
}

th {
    border-bottom: 2px solid black;
    margin: 0;
    padding: 0;
}

.align-right {
    text-align: right;
}

.dropDownContainer {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.dropDown > select {
    margin-top: 2vh; 
    margin-bottom: 4vh;

    width: 50%;
}

.dropDownContainer > div {
    border-top: 1px solid #333;
    width: 100%;
    display: flex; 
    /* justify-content: space-between; */
    font-size: 15px;
    /* padding: 10px; */
}



.dropDownContainer > div > p{
    font-size: 22px;
}

#leftarrow{
    color: black;
   cursor: pointer;
}
.dropDownContainer > div:last-child {
    /* border-bottom: 1px solid #333; */

}

.search {
    width: 100%;
    flex-direction: column;
    cursor: pointer;
}

.search > p > i {
    color: red;
}

.search:hover {
    transition: 0.2s background-color ease;
    background-color: #2f75a3a8;
    color: black;
}

.noUi-pips.noUi-pips-horizontal div  {
    color: black;
 
}

.noUi-marker.noUi-marker-horizontal.noUi-marker-large{
    background: black;
}
.search  p{
    font-size: 22px;
    
}
.search > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.dropDown {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.2s ease-in;
    display: block;
    flex-direction: column;
    width: 100%;
}

.dropDown > form {
    margin-bottom: 0;
}

.dropDown > form > div {
    margin-left: 15px;
}

.dropDown > form > div > label {
    display: inline;
}

.dropDown > form > div > input {

}


.dropDown.display {
    overflow: hidden;
    max-height: 150vh;
    transition: all 0.2s ease-in;
    margin-bottom: 1vh;
}

.dropDown.display > form {
    /* display: inline-block;
    width: 100%;
    margin-bottom: 0; */
}

.dropDown.display > form >  div {

    margin-left: 15px;

    width: auto;
}


.regular-slider, .mileage-slider {
    /* margin-top: 3rem !important;
    margin-right: 4.5rem !important */
    margin: 3rem 2.5rem 3.5rem 2.5rem !important;

}

.noUi-value.noUi-value-horizontal.noUi-value-large {
    padding-top: 0.5rem;

}

.price-input > span > input {
    width: 30%;
    margin-bottom: 0;
}

#makeFilter {
    width: 50%;
    margin-top: 2vh;
    margin-bottom: 4vh;
}
 
.mileageSpan {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 2vh; */
    margin: 0 0 2vh 0;
    padding-top: 2vh;
 
}

.mileageSpan > input {
    margin: 0 1vh 0 1vh;
    width: 35%;
}


.yearDropDown{
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 3rem; */
    line-height: 25px;
    height: auto;
    margin-bottom: 4vh;
}

.yearDropDown > select {
    margin-left: 1vh;
    margin-right: 1vh
}

.mobileMileageDisplay {
    /* margin-top: 1.5rem; */
    margin-bottom: 0.1rem;
}

.mobileMileageDisplay > p {
    font-size: 0.9rem;
    font-weight: normal;
}

.moreInfo {
    width: 100%;
    height: 27%;
    background-color: #999999c2;
    /* background-color: #999999c2; original color */
    text-align: right;
    /* margin-bottom: 2rem; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    /* align-items: center; */
    /* border: 1px solid #929292; */
    border-top: none;
}

/* .moreInfo button {
    width: 100%;
    height: 50%;
    font-size: 12px;
    text-align: right;
    background-color: #2f74a3;
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    color: white;
    border: none;
    margin: 0 auto;
    

} */

.moreInfo button {
    background-color: #2f74a3;
    margin-bottom: 0px;
    color: white;
    border: none;
    border-radius: 0;
}

.moreInfo a {

    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    padding: 5px 5px 5px 0;
}

 /* .moreInfo > a {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0;
    text-decoration: none;
    border: none;
    margin: 0 auto;
    margin-right: 1vh;

} */





.displayFilter {
    width: 90%;
    /* text-align: right; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 auto;
    /* margin-bottom: 1vh; */
    /* margin-top: 32vh; */
}

.displayFilter button {
    /* width: 35%; */
    font-size: 11px;
    /* background-color: #C23939; */
    /* border: 1px solid #C23939; */
    border: 1px solid #333;
    color: #333;
    display: flex;
    justify-content: center;
    margin: 0;
    border-radius: 0;
    margin-bottom: 2.5vh;
}


.pagination {

    /* margin-top: -3vh; */
    width: 95%;

    padding: 0 0 0 2.5%;
    text-align: right;

}


.pagination a {
    text-decoration: none;
}

.pagination-number {
    padding: 0.5em 0.8em;
    border-radius: 2px;
    color: #fff;
    background-color:  #6d9ebf;
}


.pagination-current {
    background-color: #2f74a3;
}


 
.pagination-number:hover{
    color:  #acc7da ;
    background-color: #5990b5;
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em 0.5em;
    color:  #666666 ;
    font-size: 1.3em;
}


.pagination-previous,
.pagination-next {
    color: red;

} 

.pagination-action:hover{
    color: #2f74a3; 
}

.pagination-current:hover {
    background-color: #2f74a3;
    color: white;
}


.stickBar {
    position: static;
    width: 0;
    /* top: 1px; */
    /* height: auto; */
  

}



.pagination > a {
    cursor: auto;
    height: auto;
}

.pagination > a > button {
    color: #333;
    border: 1px solid #333;
    border-radius: 0;
    /* background-color: rgba(153, 153, 153, 0.76); */
    /* height: 25px; */
    margin-bottom: 0;
}

.pagination > a > button:hover {
    transition: all 0.1s ease-in;
    background-color: rgba(153, 153, 153, 0.76);
    border: 1px solid #333;
    color: #333;

}
 
#dropDownTarget{
     
    padding: 5px 15px 5px 15px; 
    /* padding: 15px; */
}

.sort-hide-mobile {
    display: none;
}

.sort {
    /* margin: 8vh 0 0 0; */
    /* margin-top: 30vh; */

    margin: 0;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 1.5vh;
}



.sort > p {

    font-weight: bold;
    
 
}

.card-pp {
    width: 37%;
    margin-right: 1vw;
}
.card-pp > select {
    width: 100%;
    margin: 0;
    text-overflow: ellipsis;

}

.sortdiv {
    width: 37%;
}

.sortdiv > select {
    width: 100%;
    margin: 0;
}

#filters {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#filters > button {
    border-radius: 5px;
}

#reset-button {
    margin-right: 3vw;
    
}


/* Customize the label (the container) */
.container {
    /* display: inline;
    margin-right: 50%; */
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: 1.3px;
  }

.container p {
    /* display: inline; */

    font-size: 14px;
    font-weight: lighter !important;
    font-style: italic;
    padding: 0 !important;

  }



.container {
    margin-bottom: 1vh;
}

.container > input {
    display: none;
}

#make-form {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#model-form {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
 
#year-form {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#fuel-input {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#body-form {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


  /* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    padding: 0 !important;
  }

  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2px;
    left: 15px;
    height: 15px;
    width: 15px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #274fa3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
.container .checkmark:after {
    left: 5px;
    top: 3.3px;
    width: 2.5px;
    height: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } 

.mobile-sort-div{
      width: 100%;
  }

#totalMatches {
    position: absolute;
    left: 5%;
    font-size: 12px;
}
 
#filter-reset > h2 {
    font-size: 2rem;
    width: 90%;
    text-align: center;
}

#h2-header {
    display: none;
}
 
#h2-header-mobile {
    text-align: center;
    display: block;
    background-color: #c3c3c3;
    color: #3a3a3a;
    padding: 2.5vh;
    /* padding-left: 5vh; */
    font-size: 25px;
    margin-bottom: 5vh;
    /* margin-top: 110px; */
}

@media screen and (min-width: 1000px) {
      /* filter results scroll bar */

      .searchbar::-webkit-scrollbar {
        width: 8px;
      }

      ::-webkit-scrollbar-track {
        background: #999999c2;
      }
      ::-webkit-scrollbar-thumb {
        background-color: #2f75a38e ;
        border-radius: 15px;

      } 


    .searchbar {
        margin: 0;
        /* width: 25vw; */
        width: 20%;
        height: 100%;
        overflow-y: scroll;
        /* margin-right: 50px; */
        max-height: 94vh;
        display: block;
        /* align-items: baseline; */
        border-right: none;
        scrollbar-color: #2f75a38e #999999c2;
        /* background-color: #2f75a3; */
        color: black;
        border-bottom: none;
    }

    #navbar {
        display: flex;
    }
    

    .stickBar {
        position: fixed;
        /* width: 25vw; */

        /* top: 1px; */
        /* height: auto; */
        margin-bottom: 60px;
        z-index: 0;
       

    }

    .dropDownContainer {
        padding-right: -15px;
    }

    .searchresults {
        height: auto;
        width: 70vw;
       flex-shrink: 0;
       margin-left: 3vw;
       /* margin-bottom: 400px; */
     
    }


    .body {
        /* width: 90%; */
        display: flex;
        flex-direction: row; 
        padding: 0 0 5% 0;
    
    
    }
    
    .vehicleTable1, .vehicleTable2{
        color: black;
        width: 45%;
        display: block;
    }


    .vehicleCard {
        height: 100%;
        width: 100%;
 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 4vh;
 
    }

    .vehicleDetails {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        color: black;
        margin-bottom: 1vh;
        font-size: 15px;
        font-weight: lighter;
    }

    

    .vehicleTitle {
        width: 100%;
        height: 40%;
        
    }
    
    .topVehicleCard {
        display: flex;
        flex-direction: row;
    }

    .vehicle-price {

        /* width: 100%; */
        margin-bottom: 2vh;
        padding: 5px;
        font-size: inherit;
    }

    .vehicleImg {
        width: 40%;
        height: 40%;
        margin-right: 15px;
        display: flex;
        justify-content: flex-start;
        /* align-self: center; */
    }
    
    .vehicleImg > img {
        width: 100%;
        height: 100%;
    }

    .vehicleInfo{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .mobileMileageDisplay {
        display: none;
    }

    .vehicleTable1 > table > tbody > tr > th:first-child, 
    .vehicleTable2 > table > tbody > tr > th:first-child {
        text-align: left;
    }
    .vehicleTable1 > table > tbody > tr > th, 
    .vehicleTable2 > table > tbody > tr > th {
        padding-top: 1.5vh;

    }



    .displayFilter {
        display: none;
        height: 0;
        width: 0;
    }

    #hideFilter {
        display: none;
    } 

    .searchBarTop {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 15px 10px 15px 10px;
        
    }

    #filter-reset > h2 {
        font-size: 2rem;
        width: 90%;
        text-align: center;
        margin-bottom: 2vh;
    }

    .searchBarTop > p {
        width: 100%;
        color: #333;
    }

    .moreInfo {
        width: 100%;
        height: 100%;
        margin-bottom: 0;
    }

    .moreInfo button {
        width: 100%;
        height: 100%;
    }
    .moreInfo > a {
        width: 25%;
        height: 100%;
        text-align: right;

        /* margin: 1rem; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 0;
        text-decoration: none;
        border: none;
        margin-right: 0;
        padding: 1vh;
    
    }

 

    .year {
        line-height: normal;
        font-size: 2rem;
        margin-bottom: 2vh;
    }

    .year > p{
        color: #333;
        font-size: 70%;
        letter-spacing: 0.7px;
    }

    .pagination {
        text-align: center;
        /* margin-top: -2vh; */
        width: 100%;
        text-align: right;
    }
    
    .pagination a {
        text-decoration: none;
    }
    
    .pagination-number {
        padding: 0.5em 0.8em;
        border-radius: 2px;
        color: #fff;
        background-color:  #6d9ebf;
    }
    

    .pagination-current {
        background-color: #2f74a3;
    }

   

    .pagination-number:hover{
        color:  #acc7da ;
        background-color: #5990b5;
    }
    
    .pagination-action {
        margin: 0 0.1em;
        display: inline-block;
        padding: 0.5em 0.5em;
        color:  #666666 ;
        font-size: 1.3em;
    }
    
    
    .pagination-previous,
    .pagination-next {
        color: red;
    
    }

    .pagination-action:hover{
        color: #2f74a3;
    }

    .pagination-current:hover {
        background-color: #2f74a3;
        color: white;
    }

    .pages > p {
        background-color: lightblue;
    }

    .tp {
        display: none;
    }

    .pagination {
        width: auto;
        height: auto;
    }
  
    .dropDownContainer > div:last-child {
        border-bottom: 1px solid #333;
    
    }

    .sort-hide-mobile {
        height: auto;
        display: block;
        margin-top: 5vh;
    }
    .sort {
        /* margin: 8vh 0 0 0; */
        /* margin-top: 30vh; */
        margin: 0;
        float: right;
        /* width: 100%; */
        padding-right: 6.5%;
        width: 70vw;
        margin-bottom: 1.5vh;
    }
    
    
    
    .sort > p {
        width: auto;
        display: flex;
        justify-content: flex-start;
   
    }
    
    .card-pp {
        width: auto;
        display: flex;
        align-items: flex-end;
        margin-right: 3vh;
    } 
    .card-pp > select {
        width: 100%;
        margin: 0;
    }
    
    .sortdiv {
        width: auto;
    }
    
    .sortdiv > select {
        width: 100%;
        margin: 0;
    }
    
   
    .mobile-sort-div {
        display: none;
    } 

    #reset-button {
        margin: 0 auto;
        /* height: 5px;
        width: 5px; */
        border: none;
        font-size: 12px;
        text-align: center;
        display: inline-block;
       padding: 0 10px;
    }

    

    /* Customize the label (the container) */
    .container {
        display: inline;
        /* display: flex; */
        position: relative;

        padding-left: 35px;
        /* margin-right: 60%; */
        /* margin-bottom: 12px; */
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: auto;
      }

      .container p {
          display: inline;
          font-size: 14px;
          font-weight: lighter;
          font-style: italic;
      }

      /* Hide the browser's default checkbox */
      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 2.5px;
        left: 15px;
        height: 15px;
        width: 15px;
        background-color: #eee;
        border-radius: 3px;
      }

      /* On mouse-over, add a grey background color */
      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }

      /* When the checkbox is checked, add a blue background */
      .container input:checked ~ .checkmark {
        background-color: #274fa3;
      }

      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Show the checkmark when checked */
      .container input:checked ~ .checkmark:after {
        display: block;
      }

      /* Style the checkmark/indicator */
      .container .checkmark:after {
        left: 5px;
        top: 3.3px;
        width: 2.5px;
        height: 5px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      } 
 
      .dropDown.display {
        overflow: hidden;
        max-height: 150vh;
        transition: all 0.2s ease-in;
    }
    
    .dropDown.display > form {
        display: inline-block;
        width: 100%;
        margin-bottom: 0;
    }
    
    .dropDown.display > form >  div {
        /* display: inline-block; */ 
        margin-left: 15px;
    
        width: auto;
    }
    #totalMatches {
        position: absolute;
        font-size: 16px;
        left: 23.5%;
    
        /* font-weight: bold; */
 
    }

    #h2-header {
        display: block;
        background-color: #c3c3c3;
        color: #3a3a3a;
        padding: 5vh;
        padding-left: 10vh;
        font-size: 25px;
        /* margin-bottom: 5vh; */
    } 

    #h2-header-mobile {
        display: none;
    }
      
}  